
<footer class="container-fluid text-center">
  <div class="container">
        <p class="social">
        <a href=""><img src="../../assets/facebook.png" class="fa fa-facebook"></a> 
        <a href=""><img src="../../assets/twitter.png" class="fa fa-twitter"></a> 
        <a href=""><img src="../../assets/linkedin.png" class="fa fa-linkedin"></a>
         <a href=""><img src="../../assets/google+.jpg" class="fa fa-google-plus"></a>
        </p>

<p class="rights">Copyright @2017 Dream Project Solutions pvt. ltd. Designed By <!-- dont remove link --><a class="dont-remove" href="#" target="_blank">Dream Project Solutions pvt. ltd</a></p>


</div>

</footer>

