
<div class="container-fluid text-center cards-row">
<div class="container">
<div class="row content">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <p>Founder</p>
      <img src="../../assets/back.jpg" alt="about us page design using bootstrap">

       <img class="team-pic" src="../../assets/ramesh.jpg">
      <div class="caption">
        <h3>Ramesh Rathod</h3>
        <p class="card-description">Write your description here</p>
       <p class="social">
        <a href=""><img src="../../assets/facebook.png" class="fa fa-facebook"></a> 
        <a href=""><img src="../../assets/twitter.png" class="fa fa-twitter"></a> 
        <a href=""><img src="../../assets/linkedin.png" class="fa fa-linkedin"></a>
         <a href=""><img src="../../assets/google+.jpg" class="fa fa-google-plus"></a>
        </p>
      </div>
    </div>
  </div>
  
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    	<p>Co-founder</p>
      <img src="../../assets/back.jpg" alt="about us page design using bootstrap">
       <img class="team-pic" src="../../assets/akshay.jpg">
      <div class="caption">
        <h3>Akshay Shinde</h3>
        <p class="card-description">Write your description here</p>
        <p class="social">
        <a href=""><img src="../../assets/facebook.png" class="fa fa-facebook"></a> 
        <a href=""><img src="../../assets/twitter.png" class="fa fa-twitter"></a> 
        <a href=""><img src="../../assets/linkedin.png" class="fa fa-linkedin"></a>
         <a href=""><img src="../../assets/google+.jpg" class="fa fa-google-plus"></a>
        </p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
   	 <p>Technology Head</p>
      <img src="../../assets/back.jpg" alt="about us page design using bootstrap">
       <img class="team-pic" src="../../assets/ramesh.jpg">
      <div class="caption">
        <h3>Ramesh Rathod</h3>
        <p class="card-description">Write your description here</p>
        <p class="social">
        <a href=""><img src="../../assets/facebook.png" class="fa fa-facebook"></a> 
        <a href=""><img src="../../assets/twitter.png" class="fa fa-twitter"></a> 
        <a href=""><img src="../../assets/linkedin.png" class="fa fa-linkedin"></a>
         <a href=""><img src="../../assets/google+.jpg" class="fa fa-google-plus"></a>
        </p>
      </div>
    </div>
  </div>
  
  
</div>

</div>
</div>
