<h1>Welcome</h1>
<div class="wel-msg">
<p>We design IT project and provide solutions as a key roll of Dream Projects and solutions pvt. ltd. 
This compony is mainly dealing with collage student thow who are looking for IT Project and 
solutions.
</p>
</div>
<h2>What we do.</h2>
<ol>
<li *ngFor="let weDo of whatWeDo">
{{weDo}}
</li>
</ol>
<div class="wel-msg bg">
<p>
Project work challenges 
students to think beyond the boundaries of the
classroom, helping them develop the skills, behaviors,
 and confidence necessary for success in the 21st-century.
 Designing learning environments that help students question, 
 analyze, evaluate, and extrapolate their plans, conclusions, and 
 ideas, leading them to higher–order thinking, requires feedback and 
 evaluation that goes beyond a letter or number grade. 
 The term “authentic assessment” is used to describe assessment
 that evaluates content knowledge as well as additional skills like 
 creativity, collaboration, problem-solving, and innovation.
</p>
<p>Authentic assessment documents the learning that occurs during the project-building process and considers the real-world skills of collaboration, problem solving, decision making, and communication. Since project work requires students to apply knowledge and skills throughout the project-building process, you will have many opportunities to assess work quality, understanding, and participation from the moment students begin working.</p>
</div>


<h2>Questions for Students</h2>
<p>
Content Knowledge

What new content did you learn while working on this project?
Did you know more or less than you expected?
What surprised you?
What else would you like to know about the topic?
Collaboration & Teamwork

How did your work and actions contribute to your team’s success?
What was the hardest part of about working in a team?
What was the best part?
Technology & Communication

What new skills did you learn?
What else do you want to learn how to do?
</p>
<h2>How Do I Get Started?</h2>

Any one student from the group has to register to our protal.
Users who already had a Web Worksheet Wizard or Project Poster account can simply login with their previous login information.
 All your previous work will be in this new tool.
Teachers create classes and a class code is automatically created for each class.
Teachers can then start making Web pages.
Teachers wanting to assign a project to the class can print out class codes for the students and hand them out with the assignment.
Students plan their posters, then click on 'Create a New Poster' link in the Student Login box and fill in the requested information.
Teachers view and archive students' posters when managing classes.
Students can edit their own posters at any time by typing their poster ID number and password in the Student Login box.
Teachers and students can view their pages by entering the ID number, teacher name, or class code in the Search for a Poster and Worksheet section.
Teachers can use the Teacher Feature option to automatically make a class page that links to all archived student projects in that class.

<p>
New Features:
Centralized login for better teacher organization.
Student and teacher information now in one account.
Archive option keeps student projects longer than one month.
Teacher Feature option creates one Web page of class' archived projects.</p><p>
 and immediately publish it online. Teachers can also set up classes 
 and assign projects to students. Students complete the assignments 
 by creating their own online projects or reports. Teachers and 
 students can even add images and links to their pages. 

New Features:
Centralized login for better teacher organization.
Student and teacher information now in one account.
Archive option keeps student projects longer than one month.
Teacher Feature option creates one Web page of class' archived projects.</p>